<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MOAccountingEntities" connectionString="metadata=res://*/AccountingEntity.csdl|res://*/AccountingEntity.ssdl|res://*/AccountingEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MOAccounting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>